*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
   font-family: 'Roboto', sans-serif;
   margin: 0;
}


h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #1372e6;
}

input{
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #1372e6;
}

input:hover{
    background-color: #3c94ff;
}

button:hover{
    background-color: #3c94ff;
}

.container{
max-width: 1400px;
margin: auto;
}

.colora{
    color: #1372e6;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #1372e6;
    font-size: 1.6em;
}

header .container{
display: flex;
flex-direction: column;
align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #1372e6;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../img/portada.webp");
    ),url("../img/portada.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} 

#hero h1{
    color: white;
}



#somos .container{
   text-align: center;
   padding: 200px 12px;  
}

#nuestros-ser{
    background-color: rgb(30,30,30);
    color: white; 
    text-align: center;
}

#nuestros-ser .container{
    padding: 100px 0px;
}

#nuestros-ser h2{
    margin-top: 0;
    font-size: 3em;
}

#nuestros-ser p{
    display: none;
}

#nuestros-ser .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../img/soporte.jpg");
    ),url("../img/soporte.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../img/desarrollo.jpeg");
    ),url("../img/desarrollo.jpeg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../img/redes.jpg");
    ),url("../img/redes.jpg");
}

#caracteristicas .container{
    padding: 250px 16px;
    text-align: center;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#aplica-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: #fff;
    height: 80vh;
}

#aplica-ya h2{
font-size: 9vw;
}

#aplica-ya button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230, 230, 230);
}
footer p{
    margin: 0;
    margin: 12px;
    color: rgb(100, 100, 100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos .container{
        display: flex;
        justify-content: center;
    }

    #somos .texto{
        width: 50%;
        text-align: initial;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #somos .img-container{
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("../img/gestion.jpg");
    ),url("../img/gestion.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
    }

}
